<header>
  <div class="logo-container" (click)="navigateToHome()">
    <img src="/assets/logo-henet.png" alt="HE-NET FIB Logo" class="logo">
  </div>
  <button class="menu-toggle" (click)="toggleMenu()">
    <span class="hamburger" [class.open]="isMenuOpen"></span>
  </button>
  <nav class="sidebar" [class.open]="isMenuOpen">
    <ul>
      <li><a routerLink="/home"><i class="fas fa-home"></i> Home</a><hr></li>
      <li><a routerLink="/titulos-list"><i class="fas fa-film"></i> Lista de Títulos</a><hr></li>
      <li><a routerLink="/perguntas-list"><i class="fas fa-question-circle"></i> Lista de Perguntas</a><hr></li>
      <li><a routerLink="/regulamento"><i class="fas fa-book"></i> Regulamento</a><hr></li>
      <li><a routerLink="/config"><i class="fas fa-cog"></i> Configurações</a></li>
    </ul>
  </nav>
</header>