<div class="container">
  <h1>Lista de Perguntas</h1>
  <div class="header-controls">
    <button class="btn-new-title" (click)="abrirModalCriar()">
      <i class="fas fa-plus"></i> Nova Pergunta
    </button>
    <select class="title-filter" [(ngModel)]="selectedTituloId" (change)="filtrarPorTitulo($event)">
      <option value="">Todos os Títulos</option>
      <option *ngFor="let titulo of titulos" [value]="titulo.id">{{ titulo.nome }}</option>
    </select>
  </div>
  <table class="titles-table">
    <thead>
      <tr>
        <th>Posição</th>
        <th>Filme/Série</th>
        <th>Pergunta</th>
        <th>Resposta</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pergunta of perguntas; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ getTituloNome(pergunta.titulo) }}</td>
        <td>{{ pergunta.pergunta }}</td>
        <td>{{ pergunta.respostaCorreta !== null ? rotulosRespostas[pergunta.respostaCorreta] : '-' }}</td>
        <td>
          <button class="btn-action" (click)="abrirModalEditar(pergunta)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn-action" (click)="excluirPergunta(pergunta.id)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-perguntas-create-update
    [modalAberto]="modalAberto"
    [modoEdicao]="modoEdicao"
    [pergunta]="perguntaSelecionada"
    [titulos]="titulos"
    (fechar)="fecharModal()"
    (salvar)="salvarPergunta()"
  ></app-perguntas-create-update>
</div>