<div class="home-container">
  <!-- Conteúdo principal (centralizado) -->
  <div class="content">
    <img src="../../../assets/logo-quiz.png" alt="Logo do Quiz" class="logo">
    <button class="play-button" (click)="startGame()">
      <i class="fa-solid fa-gamepad"></i> QUERO JOGAR
    </button>
  </div>

  <!-- Rodapé com "Desenvolvido por" e logo -->
  <footer class="footer">
    <p>Desenvolvido por:</p>
    <img src="../../../assets/logo-velejar.png" alt="Logo Velejar" class="footer-logo">
  </footer>
</div>