<div class="popup-overlay" *ngIf="showPopup">
  <div class="popup-content">
    <!-- Mensagem Inicial -->
    <div *ngIf="isInitialMessage" class="popup-body">
      <img src="https://media.giphy.com/media/3o7TKsY2czRJnctN4A/giphy.gif" alt="Início do Quiz" class="popup-gif" />
      <p class="popup-message">{{ initialMessage }}</p>
      <button class="popup-button next" (click)="closePopup()">
        <i class="fas fa-play"></i> Iniciar Quiz
      </button>
    </div>

    <!-- Resposta Errada -->
    <div *ngIf="!isInitialMessage && !isCorrectAnswer && !isQuizFinished" class="popup-body">
      <img src="https://media.giphy.com/media/26FPJGjAwu8G8rXLa/giphy.gif" alt="Resposta Errada" class="popup-gif" />
      <p class="popup-message">{{ errorMessage }}</p>
      <p class="chances-text">CHANCES: {{ 3 - tentativasErradas }}</p>
      <button class="popup-button" (click)="closePopup()">
        <i class="fas fa-arrow-right" *ngIf="tentativasErradas < 3"></i>
        <i class="fas fa-home" *ngIf="tentativasErradas >= 3"></i>
        {{ tentativasErradas < 3 ? 'Continuar' : 'Início' }}
      </button>
    </div>

    <!-- Resposta Correta (não final) -->
    <div *ngIf="!isInitialMessage && isCorrectAnswer && !isQuizFinished" class="popup-body">
      <img src="https://media.giphy.com/media/l0Iyl55kTeh71nTWw/giphy.gif" alt="Resposta Correta" class="popup-gif" />
      <p class="popup-message">{{ correctMessage }}</p>
      <button class="popup-button next" (click)="closePopup()">
        <i class="fas fa-arrow-right"></i> Próximo
      </button>
    </div>

    <!-- Quiz Finalizado -->
    <div *ngIf="!isInitialMessage && isQuizFinished" class="popup-body">
      <img src="https://media.giphy.com/media/3o7aD2xG2Zy6c6Z4q4/giphy.gif" alt="Confete" class="popup-gif" />
      <p class="popup-message">{{ finishedMessage }}</p>
      <button class="popup-button" (click)="closePopup()">
        <i class="fas fa-home"></i> Início
      </button>
    </div>
  </div>
</div>